/* global styles */

@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
main{
    background-color: black;
    max-width: 1440px;
}

h1{
    font-size:55px;
    font-weight:500;
    line-height: 55px;
     
}
h2{
    font-size:26px;
    font-weight: 400;}

.form-div{
        display: flex;
        font-size: 26px;
        margin: 15px;
        
    }
    
input{
        width: 70%;
        padding: 10px;
        font-size: 16px;
    
    }
    
.form-div> div{
        background-color: #e50914;
        width: 30%;
        padding: 10px;
    }

/* first-section     */

.section-one{
    position: relative;
    top: -50px;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/5aecc44d-2a1f-4313-8399-98df20908b64/fe0d3631-4584-47e4-9cd7-ed68ba375830/NG-en-20221114-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    height: 693px;
    color: white;
    text-align: center;
    }

.overlay{
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background:rgba(0, 0, 0, 0.5);
        z-index:1 ;
}

.section-one-text{
        position: absolute;
        z-index:2 ;
        text-align: center;
        padding:300px 370px;
}
.section-one-text>h3{
    margin-top: 20px;
}

header{
    position: absolute;
    top: 50px;
    padding: 50px;
    z-index: 3;
}

header>a{
    text-decoration: none;
    color: white;
    background-color:#e50914;
    padding: 10px;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    margin-left:1000px ;

}

/* second section */

.section-two{
    display: flex;
    background-color: black;
    color: white;
    border-bottom: 8px solid #222;
    border-top: 8px solid #222;
    position: relative;
    top: -50px;
    height: 462.97px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.section-two-text{
    position: relative;
    top: 20px;
    left: -50px;
    width: 70%;
}
.section-two-text>h1{
    position: relative;
    left: 200px;
}

.section-two-text>h2{
    position: relative;
    left: 50px;
    padding: 0px 150px;
}

.tv-image{
    position: relative;
    right:80px ;
    width: 100%;
    z-index: 2;

}

.tv-image>img{
    width: 100%;
}

.video-div{
    position: absolute;
    top: 106px;
    right: 160px;
    z-index: 1;
    
}



.section-three{
    position: relative;
    top:-50px;
    background-color:black;
    width: 100%;
    height: 422.16px;
    display: flex;
    color: white;
    border-bottom: 8px solid #222;
}

.section-three-images-wrapper{
    width: 40%;

}

.mobile-div>img{
    position: relative;
    width: 90%;
    z-index: 1;   
}

.bottom-images{
    display: flex;
    border: 1px solid;
    border-radius: 10px ;
    width: 60%;
    position: relative ;
    bottom:120px ;
    left: 90px;
    z-index: 2;
    background-color: black;
    padding: 10px;
    justify-content: space-around;


}

.bottom-images>img{
    width: 15%;
    height: 60px;  
}


.section-three-text-wrapper{
    width:40%;
    margin-top: 100px;
    margin-left: 100px;

}

/* fourth section
 */

 .fourth-section{
    width:100%;
    height: 245.2px;
    background: black;
    position: relative;
    top:-50px;
    color: white;
    padding: 50px 750px 50px 100px;
    border-bottom: 8px solid #222;
 }

 /* fifth section */

 .fifth-section{
    display: flex;
    height:482.59px;
    position: relative;
    top:-50px;
    background-color: black;
    color: white;
    border-bottom:8px solid #222;

 }

 .fifth-section img{
    width:550px;
    margin-left: 90px;
 }

 .section-five-text-wrapper{
    padding: 60px;

 }


/* sixth section */
.sixth-section{
    height: 790px;
    border-bottom:8px solid #222;
    background-color: black;
    position: relative;
    top: -50px;
    color: white;
    text-align: center;

}
.sixth-section>h1{
    text-align: center;
    padding: 30px;

}

details{
    background-color: rgb(48, 48, 48);
    margin: 10px 300px;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    
    
    
}
summary{
    list-style: none;
    padding: 2px;
    position: relative;
    margin-left: 30px;
    top: 10px;

}

details>p{
    padding: 30px;
}

summary>span{
    margin-left: 95%;
    position: relative;
    top:-35px;                                                                                  
    
}

#bottom-form{
    width: 50%;
    margin: auto;

}

.sixth-section h3{
      padding: 20px;

}

/* footer */

.footer{

    color: rgb(114, 106, 106);
    background-color: black;
    position: relative;
    top:-50px;
    height: 350px;
    
}

.footer>h3{
    padding-top: 60px ;
    padding-left: 216px;
    padding-bottom: 20px;
    font-size: 16px;

}

.footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    font-size: 13px;
}

.footer-list>div>p{
   padding: 10px;

}
#nigeria{
    font-size: 13px;
    padding-top: 50px;
    padding-left: 216px;

}



















